body {
    background-color: #111; 
    color: #eee;
    font-family: sans-serif;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: #222; 
    padding: 20px;
    border-radius: 5px;
}

h2 {
    color: #fca311; 
}

.user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.user-table th, .user-table td {
    border: 1px solid #fca311; 
    padding: 8px;
    text-align: left;
}

.user-table th {
    background-color: #333; 
    color: #fca311; 
}

.user-table tr:nth-child(even) {
    background-color: #222; 
}

.user-table button {
    background-color: #fca311;
    color: #111;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.user-table select {
    background-color: #333;
    color: #eee;
    border: 1px solid #fca311;
    padding: 5px;
    border-radius: 3px;
}

.btn-primary {
    display: inline-block;
    background-color: #772a00;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 20px;
}

.btn-primary:hover {    
    background-color: #772a00;
}