@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: #FFF;
    font: 16px/28px 'Be Vietnam Pro', Arial, Helvetica, sans-serif;
    background-color: #000;
}
a {
    color: inherit;
    text-decoration: none;
    transition: .4s;
}
ul li {
    list-style: none;
}
img {
    max-width: 100%;
    max-height: 100%;
}
button {
    display: block;
    border: none;
    background-color: transparent;
    font: inherit;
    cursor: pointer;
    transition: .4s;
}
.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}
.title-section {
    margin-bottom: 40px;
    font-size: 52px;
    line-height: 64px;
    letter-spacing: 0.6px;
    text-align: center;
}
.btn-primary {
    padding: 12px 24px;
    font-weight: 600;
    background-color: #EE8313;
}
.btn-primary:hover {
    background-color: #772a00;
}
.btn-secondary {
    padding: 12px 24px;
    border: 1px solid #EE8313;
    color: #EE8313;
    font-weight: 600;
    line-height: 24px;
}
.btn-secondary:hover{
    color: #fff;
    background-color: #EE8313;
}







/* Header */
#header-section {
    padding: 40px 0 40px;
}
.header {
    position: fixed;
    display: flex;
    width: 80%;
    z-index: 99999;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}
.header-logo__img,
.footer-about__img {
    width: 48px;
    height: 48px;
}
.nav-main {
    margin-left: auto;
}
.nav-main__list {
    display: flex;
    gap: 48px;
    margin-right: 72px;
}
.nav-main__link:hover {
    color: #EE8313;
}



.header1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-primary1 {
    padding: 8px 18px;
    font-weight: 600;
    background-color: #EE8313;
}

.dropbtn {
    content: "&#9660;";
    background-color: #db9534;
    color: white;
    padding: 8px 18px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #b0b0b0;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  .header1{
    display: none;
  }
  
  .show {display: block;}
  @media(max-width: 894px){
    #header-section {
        padding: 30px 15px 45px 15px;
    }
    .header{
        display: none;
    }
    .header1{
        display: flex;
      }
  }
  @media(max-width: 787px){
    #banner-section {
        background-color: #171717;
        background-image: url(../img/main/baner-main.jpg);
        background-position: center;
    }
    #header-section {
        background-color: #171717;
    }
}
@media(max-width: 474px){
    .dropbtn{
        font-size: 14px;
    }
    .btn-primary1{
        font-size: 14px;
        padding: 7px 7px;
    }
}






/* Banner */
#banner-section {
    position: relative;
    overflow: hidden;
    margin-top: 50px;
    padding-bottom: 60px;
}
.banner {
    max-width: 475px;
    padding-top: 45px;
}
.banner__header {
    font-size: 52px;
    line-height: 64px;
    letter-spacing: 0.6px;
}
.banner__text {
    margin: 32px 0 48px;
    color: rgb(255 255 255 / 80%);
    font-size: 17px;
}
.banner-links-wrap {
    display: flex;
    align-items: center;
    gap: 35px;
    margin-bottom: 40px;
}
.banner-features__text {
    font-weight: 600;
    line-height: 24px;
}
.banner-features__text:first-child {
    margin-right: 40px;
}
.banner-features__text_strong {
    margin-right: 16px;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    vertical-align: sub;
}
.banner-img {
    position: absolute;
    width: 60%;
    height: 100%;
    top: 0;
    right: 0;
}
.banner-img::before {
    position: absolute;
    content: '';
    z-index: 2;
    top: 0;
    right: 0;
    width: 96%;
    height: 100%;
    background: url(../img/main/baner-main.jpg) no-repeat;
}
.banner-img::after {
    position: absolute;
    content: '';
    z-index: 1;
    top: 0;
    right: 0;
    width: 75%;
    height: 100%;
    background-color: rgb(52 52 52 / 30%);
}
@media(max-width: 787px){
    #banner-section {
        background-color: #171717;
        background-image: url(../img/main/baner-main.jpg);
        background-position: center;
    }
    .banner-img{
        display: none;
    }
    .banner {
        max-width: 100%;
        padding-top: 0;
        text-align: center;
    }
    .banner-links-wrap{
        justify-content: center;
    }
    .btn-secondary{
        color: #ffffff;
        border: 2px solid #FFF;
    }
}
@media(max-width: 474px){
    #banner-section {
        padding-bottom: 0;
    }
    .banner__header {
        font-size: 44px;
        line-height: 54px;
        letter-spacing: 0.3px;
    }
    .banner__text{
        color: #fff;
    }
}















/* Footer */
#footer-section {
    padding-top: 40px;
    background-color: #1F1905;
}
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 55px;
}
.footer-logo-wrap {
    display: flex;
    align-items: center;
    gap: 17px;
    margin-bottom: 64px;
    font-weight: 600px;
}
.footer-about__text {
    max-width: 235px;
    font-size: 18px;
    line-height: 32px;
}
.footer-nav-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 45px;
    margin: 0 auto;
}
.footer-nav__header {
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 20px;
}
.footer-nav__item {
    margin-bottom: 28px;
    line-height: 20px;
}
.footer-nav__link {
    color: rgb(255 255 255 / 80%);
}
.footer-nav__link:hover {
    text-decoration: underline;
}
.footer-social__link {
    display: block;
    width: 120px;
    height: 30px;
    margin-bottom: 45px;
    background: url(../img/main/social_1.svg) 50%/cover no-repeat;
}
.footer-copyright {
    padding: 20px 0;
    background-color: #EE8313;
}
.footer-copyright__text {
    text-align: center;
}
@media(max-width: 787px){

}