*, *::before, *::after {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
.container {
    width: 90%;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}
.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input,
textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
textarea {
    min-height: 100px;
    resize: vertical;
}
input[type="number"] {
  -moz-appearance: textfield; 
    appearance: textfield; 
}
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #0056b3;
}
.error {
    color: red;
    margin-top: 5px;
    font-size: 14px;
    padding: 5px 10px;
    background-color: #fdd;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}
.result {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 3px;
}
@media (max-width: 600px) {
    .form-group label{
        display:none;
    }
    input,
    textarea {
        padding-left:10px;
    }
    input::placeholder {
        font-style: italic;
    }
    input, textarea, .result, .error {
        margin-bottom: 10px;
    }

}